
.input {
  width: 12rem;
  height: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff70;
}

.input[type="color"] {
  width: 3.625rem;
  height: 2rem;
  justify-content: center;
}
