.page-field {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/public/asphalt.jpg');
  background-position: center;
  background-size: 40rem;
}

.page-field__button-field {
  width: 20rem;
  height: 3rem;
  margin: 2rem;
}

.page-field__game-title {
  font-size: 4rem;
}
