@import '../styles.scss';

.btn_garage,
.btn_winners,
.btn_creation,
.btn_update,
.btn_race,
.btn_reset,
.btn_generation,
.btn_selection,
.btn_removal,
.btn_test-on,
.btn_test-off,
.btn_previous-page,
.btn_close-chart,
.btn_next-page {
  width: 8rem;
  height: 2.25rem;
  background: $btnBackgroundColor;
  box-shadow: $btnShadows;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn_previous-page,
.btn_next-page {
  width: 3rem;
  height: 1.5rem;
}

.btn_selection,
.btn_removal,
.btn_test-on,
.btn_test-off {
  width: 6rem;
  height: 1.5rem;
}

.btn_close-chart {
  align-self: center;
  margin-top: 1rem;
}
