@import '../shared/styles.scss';

.car-field {
  width: 6rem;
  height: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 10;
}

.car-field::before {
  width: 1.1rem;
  height: 1.1rem;
  content: attr(data-before);
  font-size: 0.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.1rem solid $carRoofNumberColor;
  border-radius: 50%;
  position: absolute;
  left: 1.8rem;
  top: center;
  color: $carRoofNumberColor;
  mix-blend-mode: difference;
}

.car-field_engine-wrecked::after {
  width: 4.5rem;
  height: 4.5rem;
  content: "";
  position: absolute;
  z-index: -1;
  left: 2.7rem;
  top: -0.5rem;
  background-image: url($spilledOilImage);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

.car-lights {
  fill: $carLightsOffColor;
}

.car-field_engine-on {
  .car-lights{
    fill: $carLightsOnColor;
  }
}

.car-field_engine-wrecked {
  .car-lights {
    fill: $carLightsBlinkColor;
    animation: $blinkingAnimation;
    -webkit-animation: $blinkingAnimation;
  }
}

.car-field_score-view {
  width: 5rem;
  height: 2.5rem;
}

.car-field_score-view::before {
  width: 1.15rem;
  height: 1rem;
  font-size: 0.55rem;
  left: 1.35rem;
}
