@import '../shared/styles.scss';

.table-row {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
}

.table-row_header {
  width: 100%;
  height: 2.5rem;
  background-color: $winnersHeaederColor;
  text-align: center;
  font-size: 1.5rem;
}

.table-row__cell {
  padding: 0 1rem;
  vertical-align: middle;
}
