
.input {
  width: 10rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff70;
}

.input[type="color"] {
  width: 4rem;
  height: 2rem;
  justify-content: center;
}
